<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/admin.css" />
</head>
<body>
    <table>
        <caption>Statement Summary</caption>
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Current</th>
            <th scope="col">Amount To Be Credited</th>
          </tr>
        </thead>
        <tbody>
            <%for(var i of user){%>
          <tr>
            <td data-label="Account"><%=i.name%></td>
            <td data-label="Current"><%=i.score%></td>
            <td data-label="Amount To Be Credited">
                <form action="/admin/credit/<%=i._id%>" method="POST">
                    <input name="score" type="number">
                </form>
            </td>
          </tr>
          <% }%>
        </tbody>
      </table>
</body>
</html>