<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="TemplateMo" />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
    rel="stylesheet" />

    <title>BarterBase</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/assets/css/fontawesome.css" />
  <link rel="stylesheet" href="/assets/css/templatemo-stand-blog.css" />
  <link rel="stylesheet" href="/assets/css/owl.css" />
  <link rel="stylesheet" href="/assets/css/login.css">
</head>

<body>
  
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">
                <h2>BarterBase<em>.</em></h2>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/group">Group</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                    
                            <li class="nav-item">
                                <a class="nav-link" href="/user/login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/user/signup">Sign Up</a>
                            </li>
                </ul>
            </div>
        </div>
    </nav>
  <div id="wrapper">
    <div class="main-content">
      <div class="header">
        <h1>Login to Barter</h1>
      </div>
      <form action="/user/login" method="POST" class="l-part">
        <input type="text" name="email" placeholder="Email" class="input-1" />
        <div class="overlap-text">
          <input type="password" name="password" placeholder="Password" class="input-2" />
        </div>
        <input type="submit" value="Log in" class="btn" />
      </div>
    </div>
    <div class="sub-content">
      <div class="s-part">
        Don't have an account?<a href="/user/signup">Sign up</a>
      </div>
    </div>
  </div>
  
    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="/assets/js/custom.js"></script>
    <script src="/assets/js/owl.js"></script>
    <script src="/assets/js/slick.js"></script>
    <script src="/assets/js/isotope.js"></script>
    <script src="/assets/js/accordions.js"></script>

    <script language="text/Javascript">
        cleared[0] = cleared[1] = cleared[2] = 0 //set a cleared flag for each field
        function clearField(t) {
            //declaring the array outside of the
            if (!cleared[t.id]) {
                // function makes it static and global
                cleared[t.id] = 1 // you could use true and false, but that's more typing
                t.value = '' // with more chance of typos
                t.style.color = '#fff'
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            $(".text").click(function () {
                $(".overlay").fadeIn(500);
            });
            $(".overlay").not(".text").click(function () {
                $(".overlay").fadeOut(500);
            });

        });
    </script>
    <script>
        // Event listeners

        const btn = document.getElementById('btn')
        const modal = document.getElementById('modal')
        const close = document.getElementById('close')

        // Event listeners
        btn.addEventListener('click', () => {
            modal.style.display = 'inline-block'
            modal.className = 'modal animate__animated animate__bounceIn'
        })

        close.addEventListener('click', () => {
            modal.style.display = 'none'
        })

        window.addEventListener('click', (e) => {
            if (e.target === modal) {
                modal.style.display = 'none'
            }
        })
    </script>
</body>

</html>