<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta name="description" content="" />
        <meta name="author" content="TemplateMo" />
        <link
            href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
            rel="stylesheet"
        />

        <title>Stand CSS Blog by TemplateMo</title>

        <!-- Bootstrap core CSS -->
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

        <!-- Additional CSS Files -->
        <link rel="stylesheet" href="/assets/css/fontawesome.css" />
        <link rel="stylesheet" href="/assets/css/templatemo-stand-blog.css" />
        <link rel="stylesheet" href="/assets/css/owl.css" />
        <link rel="stylesheet" href="/assets/css/login.css">
    </head>






<body>
   
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">
                <h2>BarterBase<em>.</em></h2>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/group">Group</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                    
                            <li class="nav-item">
                                <a class="nav-link" href="/user/login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/user/signup">Sign Up</a>
                            </li>
                </ul>
            </div>
        </div>
    </nav>
<div id="wrapper">
  <div class="main-content">
    <div class="header">
      <h1>Signup to Barter</h1>
    </div>
    <form action="/user/signup"method="POST" class="l-part">
        <input type="text" placeholder="Name" name="name" class="input-1" />
      <input type="text" placeholder="Email" name="email" class="input-1" />
      
      
      <div class="overlap-text">
        <input type="password" placeholder="Password" name="password"class="input-2" />
        
      </div>
      <div class="overlap-text">
        <input type="password" placeholder="Retype Password" name="confirmPwd"class="input-2" />
      </div>
      <input type="submit" value="Log in" class="btn" />
    </form>
  </div>
  <div class="sub-content">
    <div class="s-part">
      Have an account?<a href="/user/login">Login</a>
    </div>
  </div>
</div>
</body>
</html>